@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('home.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito,' sans-serif;
}

:root{
    --color-primary-1: #1e1e1e;
    --color-primary-2: #ffffff;
    --color-primary-3: #8B8B8B;
    --color-primary-4: #5B5B5B;
    --color-primary-5: #2F2F2F;
    --color-primary-6: #0f0f0f;
    --color-primary-7: #351c75;
    --color-primary-8: #320064;
    --color-primary-9: #230046;
    --color-primary-10: #9e72c3;
    ;

    --color-neutra-0: #fff;
    --color-neutra-1: #1d1d1d;
}